*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans'; 
    font-size: 25px;

}

#navbar{
    color: white;
    font-size: 22px;
    width:100%;
    position: fixed;
    

}
.color-1{
    background-color:black;
    height: 100px;
    line-height: 100px;

}

.color-2{
    background-color: #7A6391; 
    height: 70px;
    line-height: 70px;

}

li{
    display: inline;
    margin-left: 50px;
}

section{
    height: 500px;
    border: 2px solid #D4DDF5
}